doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3 * Project Design *
    img(src="https://static.vecteezy.com/system/resources/previews/003/592/691/non_2x/one-single-line-drawing-of-young-male-and-female-workers-discuss-about-project-in-company-meeting-business-talk-and-discussion-concept-modern-continuous-line-draw-design-graphic-illustration-vector.jpg", alt="designer")
    block content
