doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3 Project Design
    img(src="https://media.istockphoto.com/vectors/an-indie-developer-programmer-with-many-hands-doing-all-work-by-a-vector-id1282459470?k=20&m=1282459470&s=612x612&w=0&h=AmIdSJNL2SD9iJNnE_XbpQv2gAMiVsx8INjNElUHwFk=", alt="designer")
    block content
