header_style{
  background-color: #d8bfd8;
  text-align: center;
  float:none;
}

footer_style{
  text-align: center;
  text-decoration: underline;
  clear: both;
}

nav_style{
  background-color: #bdb76b;
  text-align: justify;
  float: left;
  box-sizing: border-box;

}

main_area_style{
  background-color: #5f9ea0;
  float: right;
  box-sizing: border-box;

}
